// Colors
// TODO: define application colors here
$primary-color: rgb(220, 53, 34);
$primary-color-dark: rgb(0, 121, 107);
$primary-color-light: rgb(38, 166, 154);
$color-accent: rgb(255, 196, 0);

$text-color-dark: rgb(79, 79, 79);
$text-color-neutral: rgb(105, 105, 105);
$text-color-light: rgb(255, 255, 255);

$background-color: rgb(245, 245, 245);
$background-transparent-color: rgba(245, 245, 245, 0.85);
$shadow: rgba(0,0,0,.3);


// Dimensions
$default-margin: 0.5em;

$toolbar-height:  $navbar-height;
$footer-height: 5em;

// Media Breakpoints
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1024px;
