@import "../core/variables";
@import "../core/mixins";

.toolbar {
  box-shadow: 0 0.025em .75em #333;
  background-color: $primary-color;
  padding: 0;
  border: 0;
  border-radius: 0;
  z-index: 1000;

  .toolbar-container{
    padding-right: 0;
  }

  .toolbar-brand {
    font-size: 2.25em;
  }

  .toolbar-dropdown {
    margin-right: 0 !important;

    .toolbar-dropdown-toggle {
      padding: 0.25em;
      margin: 0;
      height: $toolbar-height;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .toolbar-dropdown-toggle-container{
        padding: 0 $default-margin;
      }
    }

    .toolbar-dropdown-toggle:hover{
      background-color: $primary-color-light;
    }

    .toolbar-brand, .toolbar-dropdown-toggle {
      color: $text-color-light !important;
    }
  }

  .toolbar-dropdown-menu {
    padding: 1em;
    background-color: $background-transparent-color;
    @media screen and (min-width: $breakpoint-tablet) {
      padding: 3em;
      width: 25em !important;
    }
  }

  .toolbar-user {
    max-height: $toolbar-height / 1.5;
    margin: 0 $default-margin;
    overflow: visible;
  }
}